{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'techbee/css/pagi.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'techbee/css/account.css' %}"/>
<div class="main">
  <div class="sq_box">
    <img class='topPhoto' src={{topPhoto.url}} alt="">
  </div>
  <h1 class='username'>{{username}}</h1>
  <div class="discri">
    <p class='name'>{{name}}</p>
    <p class='plofile'>{{plofile}}</p>
    <div class="p_box">
      <p class='point'>point.{{point}}</p>
      <p class='like_point'>like.{{like_point}}</p>
    </div>
    {% if look == 'userself'%}
    <div class='a_core'>
      <label for="corebox" class='anot'><i class="fas fa-cog core"></i></label>
      <input type="checkbox" id='corebox'>
      <div class="pop">
        <div class="account_pop">
          <label class='batu anot'for="corebox"><i class="fas fa-times core"></i></label>
          <form class="pop_form" action="{% url 'metapost' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name='photo' id="myImage" >
            <label for="myImage" class='filelabel'>
              <i class="fas fa-camera"></i>
              <div class="pv_box">
                <img id="preview" class='a' src="{{topPhoto}}">
              </div>
              <div class="maskk"></div>
            </label>
            <label for="nameinput" class='inlabel' >name</label>
            <input class='nameinput'type="text" name="name" id='nameinput' value="{{name}}" maxlength="20" placeholder='半角全角20文字以内'>
            <label class='inlabel'for="textinput">plofile</label>
            <textarea name="plofile" id='textinput' maxlength="220" placeholder="半角全角220文字以内">{{plofile}}</textarea>
            <div class="g_like_box">
              <label class='inlabel'for="give_like">1~10までの数字で一度に送るlike数を入力してください</label>
              <input id='give_like' type='number' name="g_like" value="{{user.user_meta.give_like}}"step="1" min="1" max="10">
            </div>
            <input class='anot postb'type="submit" name="" value="POST">
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% if look == 'another'%}
  <form class="channel_form" action="{% url 'ajaxc' %}" method="POST">
    {% csrf_token %}
    <input class='gost' name='username' value={{username}}></input>
    <button class="anot ctag achannel" {%ifequal channel 1 %}id='channel'{% endifequal %} type='submit'>channel</button>
  </form>
  {% endif %}
</div>
<div class="search sticky">
  {% if look == 'userself'%}
  <div class="kind">
    <a class="tag anot"{% ifequal kind "post" %}id="currentag"{% endifequal %} href="{% url 'accountkind' username 'post' %}">post</a>
    <a class="tag anot"{% ifequal kind 'list' %}id="currentag"{% endifequal %} href="{% url 'accountkind' username 'list' %}">series</a>
    <a class="tag anot"{% ifequal kind 'favorite' %}id="currentag"{% endifequal %} href="{% url 'accountkind' username 'favorite' %}">favorite</a>
    <a class="tag anot"{% ifequal kind 'channel' %}id="currentag"{% endifequal %} href="{% url 'accountkind' username 'channel' %}">channel</a>
    <a class="tag anot"{% ifequal kind 'member' %}id="currentag"{% endifequal %} href="{% url 'accountkind' username 'member' %}">member</a>
  </div>
  {% else %}
  <div class="kind_another">
    <a class="tag anot"{% ifequal kind "post" %}id="currentag"{% endifequal %} href="{% url 'accountkind' username 'post' %}">post</a>
    <a class="tag anot"{% ifequal kind 'list' %}id="currentag"{% endifequal %} href="{% url 'accountkind' username 'list' %}">series</a>
  </div>
  {% endif %}
</div>
{% ifequal kind "post" %}
<div class="post">
  {% for a in page_obj %}
  <div class="post_part">
    <div class="part_cen">
      <a href="{% url 'part' a.user.user_meta.username a.id %}">
        <div class="v_box">
          <img class="main_video" src="{{a.image.url}}" alt="">
        </div>
      </a>
      <div class="d_box">
        <a  href="{% url 'accountkind' a.user.user_meta.username 'post' %}">
          <div class="mini_box">
            <img class='miniphoto'src={{a.user.user_meta.photo.url}} alt="">
          </div>
        </a>
        <a class='file_name' href="{% url 'part' a.user.user_meta.username a.id %}">{{ a.file_name }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endifequal %}
{% ifequal kind 'list' %}
<div class="post">
  {% for a in page_obj %}
  <div class="relation_category relation_box">
    <div class="i_box">
      <a class='anot a_box'href="{% url 'partslist' a.user.user_meta.username a.id %}">
        <img class='c_img' src={{a.img.url}} alt="">
        <div class="mask">
          <p>{{ a.parts_model_set.all|length}}</p>
          <p><i class="fas fa-align-justify"></i></p>
        </div>
      </a>
      <a class='anot filename2' href="{% url 'partslist' a.user.user_meta.username a.id %}">{{a.categories}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endifequal %}
{% ifequal kind "favorite" %}
<div class="post">
  {% if kind_contents != '' %}
  {% for a in page_obj %}
  <div class="post_part">
    <div class="part_cen">
      <a href="{% url 'part' a.user.user_meta.username a.id %}">
        <div class="v_box">
          <img class="main_video" src="{{a.image.url}}" alt="">
        </div>
      </a>
      <div class="d_box">
        <a  href="{% url 'accountkind' a.user.user_meta.username 'post' %}">
          <div class="mini_box">
            <img class='miniphoto gost2'src={{a.user.user_meta.photo.url}} alt="">
          </div>
        </a>
        <a class='file_name' href="{% url 'part' a.user.user_meta.username a.id %}">{{ a.file_name }}</a>
        <a class="namelike" href="{% url 'accountkind' a.user.user_meta.username 'post' %}">{{ a.user.user_meta.username}}・like.{{ a.like_count }}・{{ a.post_time|date:"Y/m/j H:i"}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endifequal %}
{% ifequal kind "channel" %}
{% if kind_contents != '' %}
<div class="rank_box10">
  {% for a in page_obj %}
  <div class="rank_user10">
    <a class="photocen10" href="{% url 'accountkind' a.username 'post'%}">
      <div class="up_box">
        <img class='userphoto' src={{a.photo.url}} alt="">
      </div>
    </a>
    <a class="anot username2" href="{% url 'accountkind' a.username 'post'%}">{{a.username}}</a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endifequal %}
{% ifequal kind "member" %}
<div class="post">
  <div class="qrdis">
    <img src="{% static qrcode %}" class='qrimg' alt="">
    <div class="qrd">
      <p>あなた専用のアフィリエイトQRコードです。お友達をご紹介される際はこちらのQRコードを読み取り、会員登録の手続きに進んでもらってください。URLからのご登録の際はこちらをコピーしてお友達に転送してください。</p>
      <button onclick = "copy()" class='url_button'>
        <input id="copy_url" type="text" value="http://127.0.0.1:8000/techbee/afirieito/{{username}}" readonly>
        <div class="copy_a" id='copy_a'>copy?</div>
      </button>
    </div>
  </div>
  <div class="member_box">
    {% for m in page_obj %}
    <div class="mem">
      <a href="{% url 'accountkind' m.username 'post' %}" class='anot memimg'>
        <div class="mp_box">
          <img src="{{ m.photo.url }}" class='memberphoto' alt="">
        </div>
      </a>
      <div class="memd">
        <a href="{% url 'accountkind' m.username 'post' %}" class='anot membername'>{{m.username}}</a>
        <p>{{m.plofile}}</p>
        <p class='status'>status</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endifequal %}
<div class="pagination">
  <div class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1" class='p_a'><i class="fas fa-fast-backward"></i></a>
          <a href="?page={{ page_obj.previous_page_number }}" class='p_b'><i class="fas fa-step-backward"></i></a>
      {% endif %}

      <span class="current">
          {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class='p_c'><i class="fas fa-step-forward"></i></a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class='p_d'><i class="fas fa-fast-forward"></i></a>
      {% endif %}
  </div>
</div>
<div id="id_div_ajax_response"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
  $(".channel_form").submit( function(event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: "{% url 'ajaxc' %}",
        method: form.prop("method"),
        data: form.serialize(),
        timeout: 10000,
        dataType: "text",
      })
      .done( function(data) {
        $("#id_div_ajax_response").text(data);
        if (data == '登録完了'){
          $('.achannel').addClass('channel');
          $('.id_div_ajax_response_box').removeAttr('id');
        }else{
          $('.achannel').removeClass("channel");
          $('.achannel').removeAttr('id');
        }
      })
    });
</script>
<script type="text/javascript">
  $('#myImage').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
        $('#preview').removeClass("a");
        $('#preview').removeClass("b");

    }
    reader.readAsDataURL(e.target.files[0]);
});

</script>
<script>
  function copy() {
    var text = document.getElementById("copy_url");
    text.select();
    document.execCommand("copy");
    document.getElementById("copy_a").innerHTML = "copy!!";
    }
</script>
{% endblock %}
