{% extends 'base.html' %}
{% load static %}
{% block body_k %}
<link rel="stylesheet" type="text/css" href="{% static 'techbee/css/tech_next-home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'techbee/css/tech_next-home-res.css' %}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Petrona&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<meta name="viewport" content="width=360,initial-scale=1">
<meta charset="utf-8">
<!--<meta name="viewport" content="width=360,initial-scale=1">-->
<div class="body-k">
  <div class="top-wrapper">
        <video id="bg-video" src="https://res.cloudinary.com/hm9k6tunn/video/upload/v1589620573/uchuu-dd_cytva3.mp4" poster="https://res.cloudinary.com/hm9k6tunn/image/upload/v1589620537/uchuu-ddg_xvz90b.png"  autoplay muted loop></video>
        <div class="tw-mes">
          <h1>Tech<span>N</span>ext</h1>
          <p>Hello Tbaka</p>
        </div>
      </div>
      <div class="tech-movie">
        <div class="tm-toparea">
          <a href="#"><h1>Tech<span>M</span>ovie</h1></a>
          <p>Teck Nextの雰囲気や行事の様子を紹介</p>
        </div>
        <div class="tm-bottomarea">
          <div class="tm-bot-left">
            <a href="#"><img src="/static/kaigi.jpg" alt=""></a>
          </div>
          <div class="tm-bot-right">
            <div class="tm-bot-r-title">
              <a href="#">第一回 ShiDo杯 実況解説 | Tech Movie</a>
            </div>
            <div class="tm-bot-r-txt">
              <p>今年7月、世界王座奪還に成功したWBA世界ミドル級王者の村田諒太が、12月23日に横浜アリーナで"BANG BANG"の異名を持・・・<a href="#">[READ MORE]</a></p>
            </div>
            <div class="tm-bot-r-day">
              <p></p>
              <a href="#" class="fot">もっと動画をみる</a>
              <div class="clear">

              </div>
            </div>
          </div>
        </div>
        <div class="tm-underber">

        </div>
      </div>
      <div class="tech-teacher">
        <div class="tt-toparea">
          <a href="#"><h1>Tech<span>T</span>eacher</h1></a>
          <p>プログラミングの疑問をpick upして解説</p>
        </div>
        <div class="tt-bottomarea">
          <div class="tt-bot-left">
            <h1>Teaching</h1>
            <p>わからない、なんとなくを無くそう</p>
            <div class="tt-categorys">
              <a href="#" class="tt-category">HTML</a>
              <a href="#" class="tt-category">floatの意味</a>
              <a href="#" class="tt-category">cssとは</a>
              <a href="#" class="tt-category">Liopton</a>
              <a href="#" class="tt-category">アップル100%</a>
              <a href="#" class="tt-category">サッカー小僧</a>
              <a href="#" class="tt-category">家庭教師ヒットマン</a>
              <a href="#" class="tt-category">REBORN</a>
              <a href="#" class="tt-category">MONSTER</a>
              <a href="#" class="tt-category">ENERGY</a>
              <a href="#" class="tt-category">電波少女</a>
            </div>
            <a href="#" class="fot">もっと動画をみる</a>
          </div>
          <div class="tt-bot-rights">
            <div class="tt-bot-right">
              <div class="tt-bot-rl">
                <img src="/static/tt-1.jpeg" alt="">
              </div>
              <div class="tt-bot-rr">
                <a href="#">CSS3でboxの内側や外側に影をつけてみよう | REBORN</a>
                <div class="tt-bot-rr-day">
                  <p>Post date 2020/03/26<</p>
                </div>
              </div>

            </div>
            <div class="tt-bot-right">
              <div class="tt-bot-rl">
                <img src="/static/tt-1.jpeg" alt="">
              </div>
              <div class="tt-bot-rr">
                <a href="#">CSS3でboxの内側や外側に影をつけてみよう | REBORN</a>
                <div class="tt-bot-rr-day">
                  <p>Post date 2020/03/26<</p>
                </div>
              </div>

            </div>

          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="tech-bee">
        <div class="tb-toparea">
          <a href=""><h1>Tech<span>B</span>ee</h1></a>
          <p>公式キャラのTech Beeの物語</p>
        </div>
        <div class="tb-botarea">
          <div class="tb-contents">
            <!--繰り返しここから-->
            {% for b in bbb %}
            <a href="#">
              <div class="tb-con">
                <div class="tb-c-t">
                  <img src="{{ b.image.url }}" alt="">
                </div>
                <div class="tb-c-b">
                  <p class="t-story"><span class="fab fa-buffer"></span>TECHBEE</p>
                  <img src="{{ b.image.url }}" alt="" class="t-card">
                  <h3 class="t-title">STORY of {{b.category}}</h3>
                  <p class="t-postday">999999999999</p>
                </div>
              </div>
            </a>
            {% endfor %}
            <!--繰り返しここまで-->
          </div>
        </div>
        <div class="tm-underber">

        </div>
      </div>
</div>
{% endblock %}
