{% extends 'base.html' %}
{% load static %}
{% block body_k %}
<link rel="stylesheet" type="text/css" href="{% static 'techbee/css/tech_next-home.css' %}"/>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Petrona&display=swap" rel="stylesheet">
<!--<meta name="viewport" content="width=360,initial-scale=1">-->
<div class="body-k">
  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="shio_boss" data-slug-hash="rNOZBPp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="rNOZBPp">
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  <div class="top-wrapper">
    <div class="tw-mes">
      <h1>Tech<span>N</span>ext</h1>
      <p>Hellow Another Way</p>
    </div>
  </div>
  <div class="tech-movie">
    <div class="tm-toparea">
      <h1>Tech<span>M</span>ovie</h1>
      <p>Teck Nextの雰囲気や行事の様子を紹介</p>
    </div>
    <div class="tm-bottomarea">
      <div class="tm-bot-left">
        <a href="#"><img src="/static/kaigi.jpg" alt=""></a>
      </div>
      <div class="tm-bot-right">
        <div class="tm-bot-r-title">
          <a href="#">第一回 ShiDo杯 実況解説 | Tech Movie</a>
        </div>
        <div class="tm-bot-r-txt">
          <p>今年7月、世界王座奪還に成功したWBA世界ミドル級王者の村田諒太が、12月23日に横浜アリーナで"BANG BANG"の異名を持・・・<a href="#">[READ MORE]</a></p>
        </div>
        <div class="tm-bot-r-day">
          <p>Post date 2020/03/26</p>
        </div>
      </div>
    </div>
    <div class="tm-underber">

    </div>
  </div>
  <div class="tech-bee">
    <div class="tb-toparea">
      <h1>Tech<span>B</span>ee</h1>
      <p>公式キャラのTech Beeの物語</p>
    </div>
    <div class="tb-bottomarea">
      <div class="tb-bot-content">
        <div class="tb-bot-left">
          <a href="#">
            <img src="/static/tb-moon.jpg" alt="">
            <p>Tech Bee始まりのストーリー</p>
            <h1>第一話</h1>
          </a>
        </div>
        <div class="tb-bot-right">
          <p class="circle">Story 1</p>
          <h1>MOON</h1>
        </div>
      </div>
      <div class="tb-bot-content">
        <div class="tb-bot-left">
          <a href="#">
            <img src="/static/tb-green.jpg" alt="">
            <p>Tech Bee始まりのストーリー</p>
            <h1>第二話</h1>
          </a>
        </div>
        <div class="tb-bot-right">
          <p class="circle">Story 2</p>
          <h1>GREEN</h1>
        </div>
      </div>
      <div class="tb-bot-content">
        <div class="tb-bot-left">
          <a href="#">
            <img src="/static/tb-star.jpg" alt="">
            <p>Tech Bee始まりのストーリー</p>
            <h1>第三話</h1>
          </a>
        </div>
        <div class="tb-bot-right">
          <p class="circle">Story 3</p>
          <h1>STAR</h1>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="tm-underber">

    </div>
  </div>
  <div class="tech-teacher">
    <div class="tt-toparea">
      <h1>Tech<span>T</span>eacher</h1>
      <p>プログラミングの疑問をpick upして解説</p>
    </div>
    <div class="tt-bottomarea">
      <div class="tt-bot-left">
        <h1>Teaching</h1>
        <p>わからない、なんとなくを無くそう</p>
        <div class="tt-categorys">
          <a href="#" class="tt-category">HTML</a>
          <a href="#" class="tt-category">floatの意味</a>
          <a href="#" class="tt-category">cssとは</a>
          <a href="#" class="tt-category">Liopton</a>
          <a href="#" class="tt-category">アップル100%</a>
          <a href="#" class="tt-category">サッカー小僧</a>
          <a href="#" class="tt-category">家庭教師ヒットマン</a>
          <a href="#" class="tt-category">REBORN</a>
          <a href="#" class="tt-category">MONSTER</a>
          <a href="#" class="tt-category">ENERGY</a>
          <a href="#" class="tt-category">電波少女</a>
        </div>
        <a href="#" class="fot">もっと動画をみる</a>
      </div>
      <div class="tt-bot-rights">
        <div class="tt-bot-right">
          <div class="tt-bot-rl">
            <img src="/static/tt-1.jpeg" alt="">
          </div>
          <div class="tt-bot-rr">
            <a href="#">CSS3でboxの内側や外側に影をつけてみよう | REBORN</a>
            <div class="tt-bot-rr-day">
              <p>Post date 2020/03/26<</p>
            </div>
          </div>

        </div>
        <div class="tt-bot-right">
          <div class="tt-bot-rl">
            <img src="/static/tt-1.jpeg" alt="">
          </div>
          <div class="tt-bot-rr">
            <a href="#">CSS3でboxの内側や外側に影をつけてみよう | REBORN</a>
            <div class="tt-bot-rr-day">
              <p>Post date 2020/03/26<</p>
            </div>
          </div>

        </div>

      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
{% endblock %}
