{% extends 'base.html' %}
{% load static %}
{% block body_k %}
<link rel="stylesheet" type="text/css" href="{% static 'techbee/css/tech-bee.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'techbee/css/tech-bee-res.css' %}"/>
<meta name="viewport" content="width=360,initial-scale=1">
<div class="body-tb">

  <h1>FOREST STORY</h1>
  <div class="body-tb-main">
    <input type="checkbox" id="popup-on1" class="popup-ons">
    <div class="pop-box">


      <div class="popup">

        <div class="popup-content">
          <!-- ポップアップの中身 -->

          <label for="pop-check1">
          <input type="checkbox" id="pop-check1" class="pop-checks">
          <div class="pop-card">
            <div class="pop-left">
              <img src="/static/tb-green.jpg" alt="">
            </div>
            <div class="pop-back">
              <div class="pop-right">
                <div class="textboard">
                  <p class="test2-1">Story▶FOREST</p>
                  <p class="test2-2">Episode▶01</p>
                  <p class="test2-3">Title▶GREEN</p>
                </div>
                <div class="textboard">
                  <p class="test3">TechBee<br>「君はアブラムシしか食べないのかい？」</p>
                  <p class="test3">てんとう虫<br>「１つのものだけ食べていれば、考えなくてすむからね」</p>
                  <p class="test3">TechBee<br>「そうか...」</p>
                </div>
                <div class="textboard">
                  <label for="pop-check1"><label for="popup-on1"><p class="test2"><div class="btn-close">閉じる <span>×</span></div></p></label></label>
                </div>
              </div>
            </div>

            <div class="clear"></div>
          </div></label>




          <!-- ./ポップアップの中身　ここまで -->
        </div>

      </div>
      </div>
    <div class="body-tb-main-cons">
      <label for="popup-on1"><div class="card1 card" style="left: 2vw;">
        <img src="/static/tb-green.jpg" alt="">
        <div class="card-txt">
          <p class="test1">01</p>
        </div>
      </div>
      </label>
      <label for="popup-on2"><div class="card2 card" style="left: 14vw;">
        <img src="/static/tb-moon.jpg" alt="">
        <div class="card-txt">
          <p class="test1">02</p>
        </div>
        </div></label>


      <div class="clear"></div>
    </div>
  </div>
  <a href="#"><h2>TechBee...</h2></a>

</div>
{% endblock %}
