* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.body-k {
  grid-column: 2/6;
  margin: 0;
  width: 100%;
  background: rgb(255,255,255);
}

.top-wrapper {
  width: 100%;
  height: 900px;
  background-image: url("https://res.cloudinary.com/hm9k6tunn/image/upload/v1589620537/uchuu-ddg_xvz90b.png");
  background-size: cover;
  padding: 0 200px;
  position: relative;
}

.tw-mes {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 35%;
  transform: translateY(-65%);
  left: 50%;
  transform: translateX(-50%);
}

.tw-mes h1 {
  font-size: 4rem;
  color: white;
  letter-spacing: 3px;
  text-shadow: 1px 2px 3px white;
  border-bottom: 2px solid white;
}

.tw-mes h1 span {
  color: #EB4B33;
}

.tw-mes p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 2px 3px #808080;
}

.tech-movie {
  padding: 1rem 7rem;
  margin-top: 3rem;
}
.tm-underber {
  margin: 0 auto;
  width: 868px;
  height: 100%;
  border-bottom: 2px solid rgb(209, 208, 209);
}

.tm-toparea  {
  text-align: center;
}

.tm-toparea h1 {
  font-family: "Palatino Linotype";
  margin: 0;
  color: white;
  text-shadow: 1px 2px 3px #808080;
}

.tm-toparea span {
  color: #EB4B33;
}

.tm-toparea p {
  color: rgb(56, 56, 56);
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin: 0.8rem 0;
}

.tm-toparea p::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 4px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: rgb(56, 56, 56);/*線の色*/
}

.tm-bottomarea {
  margin: 4rem 0 5rem 0;
  width: 100%;
  position: relative;
}

.tm-bot-left img {
  width: 60%;
  height: 22.5rem;
  object-fit: cover;
}

.tm-bot-right {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translateY(-70%);
  transform: translateX(-35%);
}

.tm-bot-r-title {
  width: 90%;
  height: 4rem;
  margin-right: 10%;
  padding: 1rem 1.5rem;
  background-color: white;
}

.tm-bot-r-title a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(56, 56, 56);
  text-align: left;

  line-height: 2rem;
}

.tm-bot-r-txt {
  width: 90%;
  height: 5rem;
  margin-left: 10%;
  padding: 1rem 1.5rem;
  background-color: white;
}

.tm-bot-r-txt p {
  font-size: 0.9rem;
  color: rgb(56, 56, 56);
  margin: 0;
}

.tm-bot-r-txt a {
  font-weight: bold;
  color: rgb(56, 56, 56);
}

.tm-bot-r-day p {
  margin: 0;
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  color: #EB4B33;
  text-align: right;
}

.tech-bee {
  padding: 1rem 2rem;
  margin: 3rem 0;
}

.tb-toparea  {
  text-align: center;
}

.tb-toparea h1 {
  font-family: "Palatino Linotype";
  margin: 0;
  color: white;
  text-shadow: 1px 2px 3px #808080;
}

.tb-toparea span {
  color: #EB4B33;
}

.tb-toparea p {
  color: rgb(56, 56, 56);
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin: 0.8rem 0;
}

.tb-toparea p::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 4px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: rgb(56, 56, 56);/*線の色*/
}

.tb-bottomarea {
  width: 100%;
  margin: 4rem 0;
  text-align: left;
}

.tb-bot-content {
  margin: 30px 0;
  width: 33.3%;
  float: left;
  position: relative;
}

.tb-bot-left img {
  width: 17rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 2px;
  box-shadow:0px 0px 8px 3px #ccc;
}

.tb-bot-left p {
  margin: 0;
  color: rgb(56, 56, 56);
}

.tb-bot-left h1 {
  margin: 0;
  color: rgb(56, 56, 56);
  font-size: 1.5rem;
}

.circle{
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #EB4B33;
  text-align:center;
  line-height: 110px;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  opacity: 0.9;
  transform: rotate(-15deg);
  position: absolute;
  top: -65px;
  left: 14.5rem;
}

.tb-bot-right h1 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  transform: rotate(90deg);
  position: absolute;
  top: 5rem;
  left: 15.5rem;
}

.tech-teacher {
  padding: 1rem 3.8rem;
  margin: 1rem 0;
}

.tt-toparea  {
  text-align: center;
}

.tt-toparea h1 {
  font-family: "Palatino Linotype";
  margin: 0;
  color: white;
  text-shadow: 1px 2px 3px #808080;
}

.tt-toparea span {
  color: #EB4B33;
}

.tt-toparea p {
  color: rgb(56, 56, 56);
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin: 0.8rem 0;
}

.tt-toparea p::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 4px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: rgb(56, 56, 56);/*線の色*/
}

.tt-bottomarea {
  width: 100%;
  padding: 0 50px;
  margin: 4rem 0;
  position: relative;
}

.tt-bot-left {
  width: 35%;
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tt-bot-left h1 {
  font-size: 3rem;
  color: #EB4B33;
  margin: 0;

}

.tt-bot-left p {
  margin: 0;
}

.tt-categorys {
  margin: 2rem 0;;
}



.tt-category {
  display: inline-block;
  background: rgb(177, 177, 177);
  color:#fff;
  border:none;
  position:relative;
  height: 30px;
  font-size: 0.8rem;
  padding:5px 1.5rem;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.tt-category:hover{
  background:#fff;
  color: #EB4B33;
}
.tt-category:before,.tt-category:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #EB4B33;
  transition:400ms ease all;
}
.tt-category:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.tt-category:hover:before,.tt-category:hover:after{
  width:100%;
  transition:800ms ease all;
}

@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';


 .fot{
  color:#EB4B33;
  background:transparent;
  border-width:2px;
  border-style: solid;
  border-color: #EB4B33;
  position:relative;margin:0;
  display:block;
  padding:0.5em 1em;
  transition:all 1s ease-in-out;
  text-align:center;
  font-family:comfortaa;font-weight:bold
}

.fot:before, .fot:after {
  content:'';
  display:block;
  position:absolute;
  border-color:#EB4B33;
  box-sizing:border-box;
  border-style:solid;
  width:1em;
  height:1em;
  transition:all 1s ease-in-out
}

.fot:before {
  top:-6px;
  left:-6px;
  border-width:2px 0 0 2px;
  z-index:5;
}

.fot:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}

.fot:hover:before, .fot:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#EB4B33;
}

.fot:hover {
  color: white;
  background-color:#EB4B33;
  border-color:#EB4B33;
}

.panel {
  max-width:960px;
  text-align:center;
  position:relative;
  margin:auto;
}

.tt-bot-rights {
  width: 65%;
  float: right;
  padding-left: 10%;

}

.tt-bot-right {
  position: relative;
  margin-bobttom: 2rem;
}

.tt-bot-rl img {
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.tt-bot-rr {
  height: 5rem;
  width: 75%;
  background-color: white;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translateY(-45%);
  transform: rotateX(-60%);
}

.tt-bot-rr a {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  font-weight: bold;
}

.tt-bot-rr-day p {
  margin: 0;
  text-align: right;
  font-weight: bold;
  color: #EB4B33;
}
