



@media screen and (max-width: 1176px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  body {
    padding: 0 !important;
  }

  .body-tb {
    width: 100% !important;
  }

  .body-tb-main {
    margin: 0 auto;
<<<<<<< HEAD
  }

=======
    width: 95vw;
  }

  .pop-box {
    width: 95vw;
  }



>>>>>>> upstream/master
  .textboard {
    font-size: 1.3rem !important;
  }

  .test3 {
    font-size: 0.8rem !important;
  }
<<<<<<< HEAD
=======

  .test3-5 {
    font-size: 0.8rem;
  }
>>>>>>> upstream/master
}

@media screen and (max-width: 768px) {
  br {
    display: block;
  }

  .textboard {
    font-size: 1.1rem !important;
    padding: 0 5px;
  }

  .text3 {
    font-size: 0.75rem !important;
  }
}

@media screen and (max-width: 425px) {

<<<<<<< HEAD
  .body-tb-main {
    height: 500px;
  }



  .popup {
    width: 70% !important;
    height: 70% !important;
    top: 15%;
  }

  .popup-content {
    margin: 10px auto 40px auto !important;
    position: relative;
=======

  .body-tb-main {
    width: 90vw;
  }

  .popup {
    width: 85% !important;
    overflow-y: inherit;
    padding: 1rem 0.5rem;
  }

  .popup-content {
    margin: 10px auto 20px auto !important;
    position: relative;
    padding: 0;
  }

  .pop-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
>>>>>>> upstream/master
  }

  .pop-card {
    width: 100%;
    height: 397px;
    perspective:150rem;
    -webkit-perspective: 150rem;
  }

<<<<<<< HEAD
  #pop-check1 {
    display: none;
  }

  #pop-check1:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check1:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check2 {
    display: none;
  }

  #pop-check2:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check2:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check3 {
    display: none;
  }

  #pop-check3:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check3:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check4 {
    display: none;
  }

  #pop-check4:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check4:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check5 {
    display: none;
  }

  #pop-check5:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check5:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check6 {
    display: none;
  }

  #pop-check6:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check6:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check7 {
    display: none;
  }

  #pop-check7:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check7:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check8 {
    display: none;
  }

  #pop-check8:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check8:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check9 {
    display: none;
  }

  #pop-check9:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check9:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  #pop-check10 {
    display: none;
  }

  #pop-check10:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  #pop-check10:checked ~ div .pop-back {
    transform: rotateY(360deg);
=======
  .test1 {
    font-size: 1.2rem;
    line-height: 10vw;
  }

  .textboard {
    font-size: 1.1rem !important;
    padding: 0;
    width: 100%;
  }


  .pop-checks {
    display: none;
  }

  .pop-checks:checked ~ div .pop-left {
    transform: rotateY(180deg);
  }

  .pop-checks:checked ~ div .pop-back {
    transform: rotateY(360deg);
  }

  .front {
    transform: rotateY(180deg) !important;
  }

  .back{
    transform: rotateY(360deg) !important;
  }

  .pop-box {
    height: 80%;
    width: 90vw;

>>>>>>> upstream/master
  }

  .pop-back {
    height: 100%;
    transform: rotateY(180deg);
    transition: 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
<<<<<<< HEAD
=======
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
>>>>>>> upstream/master
  }

  .pop-left {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    float: none !important;
    transition: 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
<<<<<<< HEAD
=======
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
>>>>>>> upstream/master
  }

  .pop-right {
    width: 100% !important;
    margin: 0 !important;
    float: none !important;
  }

  .body-tb-main-cons {
    top: 37% !important;
  }

  .card {
    width: 28vw !important;
    height: 42vw !important;
    padding: 2vw !important;
    box-shadow: -1rem 0 4rem 0.5rem !important;
  }

  .card img {
    width: 24vw !important;
    height: 38vw !important;
  }

  .card-txt {
    width: 24vw !important;
    height: 10vw !important;
  }

  .card2 {
    left: 20vw !important;
  }

<<<<<<< HEAD
  .card3 {
    left: 40vw !important;
  }

  .card4 {
    left: 60vw !important;
  }

  .card5 {
    left: 80vw !important;
  }

  .card6 {
    left: 100vw !important;
  }

  .card7 {
    left: 120vw !important;
  }

  .card8 {
    left: 140vw !important;
  }

  .card9 {
    left: 160vw !important;
  }

  .card10 {
    left: 180vw !important;
  }
=======
>>>>>>> upstream/master


}
