* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.body-k {
  grid-column: 2/6;
  margin: 0;
  width: 100%;
  background: rgb(253,253,253);
}

.top-wrapper {
  width: 100%;
  height: 800px;
  overflow: hidden;
  padding: 0 200px;
  position: relative;
}

/* ----- 背景用の動画ファイル ----- */
#bg-video{
 position: absolute;
 right: -40px;
 bottom: 0;
 min-width: 120%;
 min-height: 800px;
 width: 120%;

 z-index: 100;

 background-size: cover;
 opacity: 0.7;
}

.tw-mes {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 35%;
  transform: translateY(-65%);
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 10000000;
}

.tw-mes h1 {

  font-size: 4rem;
  color: white;
  letter-spacing: 3px;
  text-shadow: 5px 7px 4px  rgb(80, 80,80);
  border-bottom: 2px solid white;

}

.tw-mes h1 span {
  color: #EB4B33;

}

.tw-mes p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 5px 7px 4px rgb(80, 80,80);
}

.tech-movie {
  padding: 1rem 7rem;
  margin-top: 3rem;
}
.tm-underber {
  margin: 0 auto;
  width: 868px;
  height: 100%;
  border-bottom: 2px solid rgb(209, 208, 209);
}

.tm-toparea  {
  text-align: center;
}

.tm-toparea h1 {
  font-family: "Palatino Linotype";
  margin: 0;
  color: rgb(244, 242, 243);
  text-shadow: 1px 2px 3px rgb(80, 80,80);
}

.tm-toparea h1:hover {
  color: rgb(56, 56, 56);
  opacity: 0.8;
  transition: ease-in-out 0.3s;
}

.tm-toparea span {
  color: #EB4B33;
}

.tm-toparea p {
  color: rgb(56, 56, 56);
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin: 0.8rem 0;
}

.tm-toparea p::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 4px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: rgb(56, 56, 56);/*線の色*/
}

.tm-bottomarea {
  margin: 4rem 0 5rem 0;
  width: 100%;
  position: relative;
}

.tm-bot-left img {
  width: 60%;
  height: 22.5rem;
  object-fit: cover;
}

.tm-bot-right {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translateY(-70%);
  transform: translateX(-35%);
}

.tm-bot-r-title {
  width: 90%;
  margin-right: 10%;
  padding: 1rem 1.5rem;
  background-color: white;
}

.tm-bot-r-title a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(56, 56, 56);
  text-align: left;
  position: relative;
  display: inline-block;
  line-height: 2rem;
  padding: 0 10px;
}

.tm-bot-r-title a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #EB4B33;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 1.2s;
}
.tm-bot-r-title a:hover::after {
  transform: scale(1, 1);
}

.tm-bot-r-txt {
  width: 90%;
  margin-left: 10%;
  padding: 1rem 1.5rem;
  background-color: white;
}

.tm-bot-r-txt p {
  font-size: 0.9rem;
  color: rgb(56, 56, 56);
  margin: 0;
}

.tm-bot-r-txt a {
  font-weight: bold;
  color: rgb(56, 56, 56);
  position: relative;
  display: inline-block;
  padding: 0 2px;
}

.tm-bot-r-txt a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #EB4B33;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .6s;
}

.tm-bot-r-txt a:hover::after {
  transform: scale(1, 1);
}

.tm-bot-r-day p {
  margin: 0;
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(80, 80,80);
  text-align: right;
}

.tm-bot-r-day a {
  width: 60%;
  float: right;
  margin: 40px 35px 0 0;
}

.tech-bee {
  padding: 1rem 2rem;
  margin: 3rem 0;
}

.tb-toparea  {
  text-align: center;
}

.tb-toparea h1 {
  font-family: "Palatino Linotype";
  margin: 0;
  color: white;
  text-shadow: 1px 2px 3px rgb(80, 80,80);
}

.tb-toparea span {
  color: #EB4B33;
}

.tb-toparea h1:hover {
  color: rgb(56, 56, 56);
  opacity: 0.8;
  transition: ease-in-out 0.3s;
}

.tb-toparea p {
  color: rgb(56, 56, 56);
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin: 0.8rem 0;
}

.tb-toparea p::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 4px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: rgb(56, 56, 56);/*線の色*/
}



.slider-wrapper {
  overflow: hidden;
}

.slider {
  position: relative;
  left: -2.5vw; /* (100vw - SlideWidth) / 2 */
  overflow: visible !important;
}

.slide {
  width: 29vw !important;
  height: 43.5vw;
  padding-top: 10px;
}

.slide a {
  position: relative;
  width: 20vw;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  background-color: rgb(253, 253, 253);
  color: rgb(80, 80,80);
  display: block;
}



.slide:hover .slider-h{
    opacity: 0.7;
    background: white;
    transition: 0.5s;
}

.slide:hover #ghjk {
  position: absolute;
  top:-1px;
  opacity: 0.5;
  transition: 0.5s;
  box-shadow:0px 0px 7px 7px #ccc;

}

.slide:hover #bgt {
  opacity: 0;
  transition: 0.8s;
}

#bgt {
  position: absolute;
  top: 87%;
  transform: translateY(-13%);
  left: 50%;
  transform: translateX(-50%);
}


.slider-h {
  width: 45%;
  padding: 15px 10px;
  background-color: white;
  color: rgb(80,80,80);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-75%);
  transform: translateX(-50%);
  opacity: 0;
}

.slider-h h1, .slider-h h2, .slider-h h3 {
  margin: 0;
  border-bottom: 2px solid #EB4B33;
}

.slider-h h1 {
  font-size: 1.6rem;
  width: 100%;
}

.slider-h h2 {
  font-size: 1.4rem;
  width: 85%;
}

.slider-h h3 {
  font-size: 1.2rem;
  width: 70%;
}

.slide a {

}

.slide a p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  width: 60%;
  background: white;
  padding: 10px 0;
  border-radius: 3px;
  text-shadow: 3px 4px 7px #EB4B33;
  box-shadow:0px 0px 3px 3px #ccc;

}



.tech-teacher {
  padding: 1rem 3.8rem;
  margin: 1rem 0;
}

.tt-toparea  {
  text-align: center;
}

.tt-toparea h1 {
  font-family: "Palatino Linotype";
  margin: 0;
  color: white;
  text-shadow: 1px 2px 3px rgb(80, 80,80);
}

.tt-toparea span {
  color: #EB4B33;
}

.tt-toparea h1:hover {
  color: rgb(56, 56, 56);
  opacity: 0.8;
  transition: ease-in-out 0.3s;
}

.tt-toparea p {
  color: rgb(56, 56, 56);
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin: 0.8rem 0;
}

.tt-toparea p::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 4px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: rgb(56, 56, 56);/*線の色*/
}

.tt-bottomarea {
  width: 100%;
  padding: 0 50px;
  margin: 4rem 0;
  position: relative;
}

.tt-bot-left {
  width: 35%;
  float: left;
  position: absolute;
  top: 47%;
  transform: translateY(-53%);
}

.tt-bot-left h1 {
  font-size: 3rem;
  color: #EB4B33;
  margin: 0;

}

.tt-bot-left p {
  margin: 0;
}

.tt-categorys {
  margin: 2rem 0;;
}



.tt-category {
  display: inline-block;
  background: rgb(177, 177, 177);
  color:#fff;
  border:none;
  position:relative;
  height: 30px;
  font-size: 0.8rem;
  padding:5px 1.5rem;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.tt-category:hover{
  background:#fff;
  color: #EB4B33;
}
.tt-category:before,.tt-category:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #EB4B33;
  transition:400ms ease all;
}
.tt-category:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.tt-category:hover:before,.tt-category:hover:after{
  width:100%;
  transition:800ms ease all;
}

@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';


 .fot{
  color:#EB4B33;
  background:transparent;
  border-width:2px;
  border-style: solid;
  border-color: #EB4B33;
  position:relative;margin:0;
  display:block;
  padding:0.5em 1em;
  transition:all 1s ease-in-out;
  text-align:center;
  font-family:comfortaa;font-weight:bold
}

.fot a {
  background-color: white;
}

.fot:before, .fot:after {
  content:'';
  display:block;
  position:absolute;
  border-color:#EB4B33;
  box-sizing:border-box;
  border-style:solid;
  width:1em;
  height:1em;
  transition:all 1s ease-in-out
}

.fot:before {
  top:-6px;
  left:-6px;
  border-width:2px 0 0 2px;
  z-index:5;
}

.fot:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}

.fot:hover:before, .fot:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#EB4B33;
}

.fot:hover {
  color: white;
  background-color:#EB4B33;
  border-color:#EB4B33;
}

.panel {
  max-width:960px;
  text-align:center;
  position:relative;
  margin:auto;
}

.tt-bot-rights {
  width: 65%;
  float: right;
  padding-left: 10%;

}

.tt-bot-right {
  position: relative;
  margin-bottom: 2rem;
}

.tt-bot-rl img {
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.tt-bot-rr {
  padding: 7px;
  height: 5rem;
  width: 75%;
  background-color: white;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translateY(-45%);
  transform: rotateX(-60%);
}

.tt-bot-rr a {
  font-size: 1.3rem;
  color: rgb(56, 56, 56);
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.tt-bot-rr a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #EB4B33;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 1s;
}

.tt-bot-rr a:hover::after {
  transform: scale(1, 1);
}

.tt-bot-rr-day p {
  margin: 10px 0 0 0;
  text-align: right;
  font-weight: bold;
  color: #EB4B33;
}

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;

  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  margin: 7rem 0;
  border: none;
}
.bx-wrapper img {
  width: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  box-shadow:0px 0px 3px 3px #ccc;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: none;
  border: none;
  background: rgb(253, 253, 253);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: white;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: white;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('/static/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('/static/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 43%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('/static/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('/static/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;

  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
