{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'techbee/css/base.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Petrona&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'techbee/css/pagi.css' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="./loaders.min.css" type="text/css">
  </head>
  <body>
    <input type="checkbox" name="" value=""id='hum'>
    <label for="hum" class='hum_label'><i class="fas fa-bars"></i></label>
    <label for="hum" class='hum_label2'><i class="fas fa-angle-left"></i></label>
    <div class="header">
      <div class="contents">
        <img class="logo" src="/static/base/defo.jpg" alt="Techbee">
        <div class="home"{% ifequal "/" request.path %}id="current"{% endifequal %}>
          <a class="anot" href="{% url 'technext' %}">Tech<span class="n">N</span>ext</a>
        </div>
        {% if user.is_authenticated and user.user_meta %}
        <li class="num1 list" {% ifequal index_current '/techbee/index/' %}id="current"{% endifequal %}>
          <a class="anot" href="{% url 'index' %}">Home</a>
        </li>
        <li class="num2 list" {% if request.path == search_path %}id="current"{% endif %}>
          <a class="anot" href="{% url 'partkind' 'new' %}">Parts</a>
        </li>
        <li class="num3 list" {% if request.path == "/techbee/community/" %}id="current"{% endif %}>
          <a class="anot" href="{% url 'community' %}">Community</a>
        </li>
        <li class="num4 list" {% if request.path == "/techbee/ranking/" %}id="current"{% endif %}>
          <a class="anot" href="{% url 'ranking' %}">Ranking</a>
        </li>
      {% endif %}
        <li class="num5 list"{% ifequal look 'userself' %}id="current"{% endifequal %}>
          {% if user.is_authenticated and user.user_meta %}
            <a class="anot" href="{% url 'accountkind' user.user_meta.username 'post'%}">{{ user.user_meta.username }}</a>
          {% endif %}
        </li>
      </div>
    </div>
    {% block body_k %} {% endblock %}
    <div class="cent">
      {% block body %} {% endblock %}
      <div class="maru">
        <input type="checkbox" id="touko" name='touko' value="">
        <label for="touko" class='toukolabel'><i class="fas fa-plus-circle"></i></label>
        <div class="pop">
          <div class="touko_pop">
            <label class='ba2'for='touko'><i class="fas fa-times core anot"></i></label>
            <form class="touko_form" action="{% url 'touko' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="checkbox" id='seriesnew'name="" value="">
              <div class="new_cate">
                <div class="seriesnewbutton">
                  <label for="seriesnew" class='newseries'>new series<i class="fas fa-plus-circle ten"></i></label>
                </div>
                <input type="text" id='newseries' name="newseries" value="" maxlength="30">
                <span class="cp_sl06_highlight"></span>
                <span class="cp_sl06_selectbar2"></span>
              </div>
              <div class="cp_ipselect" >
                <div class="seriesnewbutton">
                  <label for="seriesnew" class='newseries'>series<i class="fas fa-plus-circle"></i></label>
                </div>
                <select class="cp_sl06" name='categories'>
                  <option value="" hidden disabled selected></option>
                  <option value="" ></option>
                  {% for r in rrr %}
                  <option  value="{{r.categories}}">{{r.categories}}</option>
                  {% endfor %}
                </select>
                <span class="cp_sl06_highlight"></span>
                <span class="cp_sl06_selectbar"></span>
              </div>
              <div class="file_box">
                <label for="filename" class='filenamen'>filename</label>
                <input type="text" id='filenamen' name="filename" value="" maxlength="30">
                <span class="cp_sl06_highlight"></span>
                <span class="cp_sl06_selectbar2"></span>
              </div>
              <input type="file" name='tokoImage' id="toukoImage" required>
              <div class="da">
                <label for="toukoImage" class='filelabel2'>
                  <i class="fas fa-camera"></i>
                  <div class="im_box">
                    <img id="previewimg" class='a'>
                  </div>
                  <div class="maskk2"></div>
                </label>
              </div>
              <label class='inlabel'for="htmlcode">codepen</label>
              <textarea name="codepen" id='htmlcode'></textarea>
              <label class='inlabel'for="csscode">text</label>
              <textarea name="text" id='csscode'></textarea>
              <input class='anot postbb'type="submit" name="" value="POST">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="side">
    </div>
    <div class='footer'>
      <div class="footer_box">
        <a href="{% url 'footer' 'グループ概要' %}" class='lista'>グループ概要</a>
        <a href="{% url 'footer' '利用規約' %}" class='lista'>利用規約</a>
        <a href="{% url 'footer' '学び方' %}" class='lista'>学び方</a>
        <a href="{% url 'footer' 'Likeについて' %}" class='lista'>LikeとPoint</a>
        <a href="{% url 'footer' '特定商取引に関する表記' %}" class='lista'>特定商取引に関する表記</a>
        <a href="{% url 'footer' '紹介について' %}" class='lista'>紹介特典</a>
        <a href="{% url 'footer' '投稿のヒント' %}" class='lista'>投稿の方法</a>
        <a href="{% url 'footer' 'Techbeeとは' %}" class='lista'>Techbeeとは</a>
        <a href="{% url 'footer' 'オフィス利用方法' %}" class='lista'>オフィス利用方法</a>
        <a href="{% url 'logout' %}" class='lista'>logout</a>
      </div>
      <div class="bee_box">
        <img src="/static/base/flybee.jpg" alt="">
        <p class='beefooter'>@TechbeeProject</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('#toukoImage').on('change', function (e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#previewimg").attr('src', e.target.result);
            $('#previewimg').removeClass("a");
            $('#previewimg').removeClass("b");

        }
        reader.readAsDataURL(e.target.files[0]);
    });
    </script>
    <script>
      $(".poplabel").click(function(){
      $(this).toggleClass("visible");});
    </script>

  </body>
</html>
